body, html {
  padding: 0;
  margin: 0;
  width: 100vw;
  background: #222;
  color: #999;
  font-family: sans-serif;
  line-height: 1.3em;
  perspective: 1200px;
  overflow-x: hidden;
}

.content { margin: 0 2em; }
// .top-line { transform: rotatex(30deg); }
.prefered { color: #DFF; font-weight: 700; }
.vspace { height: 20px; }
.right { width: 100%; text-align: right; }
input, select { 
  background: #333; 
  border: none; 
  padding: 1em; 
  color: #AAA; 
  border-radius: .2em; 
  display: inline-block; 
  margin: 1em; 
}

select {
  display: block;
  height: 3em;
  border-radius: .21em; 
  option {
    font-weight: 200;
  }
}
input:focus, select:focus { outline:none; box-shadow: 0 0 0 1px #383838; }
.btn { 
  background: #456; 
  border: none; 
  padding: .7em; 
  color: #AAA; 
  border-radius: 1em; 
  display: inline-block; 
  margin: 1em; 
  text-align: center; 
  width: 5em; 
}

.btn:hover { background: #567; color: #EEE;}
.no-select { user-select: none; }
.footer {color: #444;}
a {color: #BB9;}
pre {
  font-family: monospace;
  font-size: 12px;
  line-height: 14px;
}
.logo {
  display: inline-block;
  font-size: 1.7em;
  transform: scalex(-1) translatey(.1em);
  pointer-events: none;
}
.inline { display: inline-block; }
.half {opacity: .3;}
.vertical2 {
  display: flex;
  width: 100%;
  flex-direction: row;    
  position: relative;
}
.log-1 { background: #364; width: 200px; min-height: 100%; }
.book-name {color: #484; margin: 1em 0;}
.vers-item {display: inline-block; margin: .2em; }
.vers-line {margin: .3em; }
.chapter-vers {color: #777; margin-right: 1em;}
main {margin: 1em;}

span.trans-shorthand {
  position: relative;  
  margin-right: .5em;
  &[selected] {
    color: white;
    &:before {
      background: #789;
      color: white;        
    }  
  }
  &:before {
    content: attr(data-hit-count);
    position: absolute;
    top: -2em;
    right: -2em;
    background: #456;
    color: #BB9;
    font-size: .6em;   
    border-radius: 50%;
    width: 2em;
    height: 2em;
    text-align: center;
    line-height: 2em;
    z-index: 2;
  }
} 

.books-holder {
  display: flex;
  flex-wrap: wrap;
}

.book-name-item {
  margin: .2em;
  padding: .2em;
  background: #383838;  
  &:hover {
    background: #555;
    color: white;
  }
}